.App {
  text-align: center;
  font-family: 'Press Start 2P', serif, sans-serif;
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.amiibfo {
  font-size: 115px;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.amiibo-card.card {
  border: none;
  background-color: #222;
}

.amiibo-card.card-body {
  border: none;
  background: #222;
  padding: 0;
}

.amiibo-card-header {
  padding: 0;
  border: none;
}

.card-img.amiibo-img {
  max-width: 30%;
  height: auto;
}

.amiibo-card-title {
  font-size: 60px;
}

.card-header {
  padding: 0px;
}

.amiibo-card-header.card-header {
  border: none;
  padding: 0;
}

.amiibo-sub {
  opacity: 0.5;
  font-size: small;
}